body {
    background: url("../images/moroccan-flower.png");
}


/*padding*/
.me-padding-mini {
    padding: 0.1em !important;
}
.me-padding-tiny {
    padding: 0.5em !important;
}

/*padding-top-bottom*/
.me-padding-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.me-padding-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.me-padding-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.me-padding-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.me-padding-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.me-padding-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.me-padding-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.me-padding-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.me-padding-lr {
    padding-left: 2.5em !important;
    padding-right: 4em !important;
}
.me-padding-lr-responsive {
    padding-left: 2.5em !important;
    padding-right: 4em !important;
}

/*margin*/
.me-margin-top-small {
    margin-top: 0.5em !important;
}
.me-margin-top {
    margin-top: 1em !important;
}
.me-margin-top-large {
    margin-top: 2em !important;
}
.me-margin-bottom-small {
    margin-bottom: 0.5em !important;
}
.me-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}


/*=========================== text ===========================*/
.me-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.me-text-thin {
    font-weight: 300 !important;
}
.me-text-spaced {
    letter-spacing: 1px !important;
}
.me-text-lined {
    line-height: 1.8;
}


/*=========================== opacity ===========================*/
.me-opacity-mini {
    opacity: 0.8 !important;
}
.me-opacity-tiny {
    opacity: 0.6 !important;
}


/*---------------------------display---------------------------*/
.me-inline-block {
    display: inline-block !important;
}


/*---------------------------container---------------------------*/
.me-container {
    max-width: 72em !important;
    margin: auto !important;
}
.me-container-small {
    max-width: 60em !important;
    margin: auto !important;
}


/*---------------------------color---------------------------*/
.me-black {
    color: #333 !important;
}


/*---------------------------position---------------------------*/
.me-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

/*---------------------------mobile---------------------------*/
.me-mobile-show {
    display: none !important;
}
@media screen and (max-width: 768px) {
    .me-mobile-hide {
        display: none !important;
    }
    .me-mobile-show {
        display: block !important;
    }
    .me-padding-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .me-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .me-mobile-wide {
        width: 100% !important;
    }
}


/*=========================== shadow ===========================*/
.me-shadow-small {
    -webkit-box-shadow: 0 40px 100px rgba(0,0,0,0.5) !important;
    box-shadow: 0 40px 100px rgba(0,0,0,0.5) !important;
}